<% skip_info ||= false -%>
<label><%= _("Merchant ID") %> <%= text_field_tag 'user_gateways[moneris][login]', user_gateway.login, :class=>"user_profile_text"  %></label>
<br clear="all"/>
<label><%= _("Merchant Key") %> <%= text_field_tag 'user_gateways[moneris][password]', user_gateway.password, :class=>"user_profile_text"  %></label>
<br clear="all"/>
<% unless skip_info -%>
<%= link_to _("Where do I find Moneris information?"), "/moneris_help.html" , :popup => true %>
<% end -%>
<br clear="all"/>