<div id="preview_invoice_content" >

  <div style="width:90%;">
  <%= logo_or_upload_link(@profile) %>
   <div id="preview_remit_to">
          <span id="invoice_profile_contact"><%=h(@profile.contact_name) + "<br/>" unless @profile.contact_name.blank? %></span>	
		  <span id="invoice_profile_name"><%=h(@profile.company_name) + "<br/>" unless @profile.company_name.blank? %></span>		
          <span id="invoice_profile_address1"><%=h(@profile.company_address1) + "<br/>" unless @profile.company_address1.blank? %></span>		
          <span id="invoice_profile_address2"><%=h(@profile.company_address2) + "<br/>" unless @profile.company_address2.blank? %></span>		
          <span id="invoice_profile_city"><%=h(@profile.company_city) + (@profile.company_state.blank? ? "<br/>" : ", ") unless @profile.company_city.blank? %></span>		
          <span id="invoice_profile_state"><%=h(@profile.company_state) + "<br/>" unless @profile.company_state.blank? %></span>
          <span id="invoice_profile_postalcode"><%=h(@profile.company_postalcode) + (@profile.company_country.blank? ? "<br/>" : " ") unless @profile.company_postalcode.blank? %></span>
          <span id="invoice_profile_country"><%=h(@profile.company_country) + "<br/>" unless @profile.company_country.blank? %></span>		
          <span id="invoice_profile_phone"><%= _("Tel. %{tel}") % {:tel => h(@profile.company_phone)} + (@profile.company_fax.blank? ? "<br/>" : ", ") unless @profile.company_phone.blank? %></span>		
          <span id="invoice_profile_fax"><%= _("Fax %{fax}") % {:fax => h(@profile.company_fax)} + "<br/>" unless @profile.company_fax.blank? %></span>				
          <span id="invoice_profile_website"><%=h(@profile.company_website) + "<br/>" unless @profile.company_website.blank? %></span>
		  <span class='placeholder_for_printable'><%= placeholder_break(@profile) %></span>			
     </div>    
   </div>
<br style="clear:both;"/>    
 <hr id="preview_header_line">

  <%# hack: print preview across multiple pages for FireFox %>
  	<div id="addressing_container" class="yui-gd">
	    <div id="preview_customer" class="yui-u first">
	    <% if !@invoice.customer.blank? %>
	        <b><%= _("Bill to:") %></b><br/>  
		    <span id="invoice_customer_name"><%= h(@invoice.customer.name) %></span><br />
		    <span id="invoice_customer_address1"><%= h(@invoice.customer.address1) + "<br/>" unless @invoice.customer.address1.blank? %></span>
		    <span id="invoice_customer_address2"><%= h(@invoice.customer.address2) + "<br/>" unless @invoice.customer.address2.blank? %></span>
		    <span id="invoice_customer_city"><%= h(@invoice.customer.city) + (@invoice.customer.province_state.blank? ? "<br/>" : ", ") unless @invoice.customer.city.blank? %></span>
		    <span id="invoice_customer_province_state"><%= h(@invoice.customer.province_state) + "<br/>" unless @invoice.customer.province_state.blank? %></span>
		    <span id="invoice_postalcode_zip"><%= h(@invoice.customer.postalcode_zip) + (@invoice.customer.country.blank? ? "<br/>" : " ") unless @invoice.customer.postalcode_zip.blank? %></span>
		    <span id="invoice_customer_country"><%= h(@invoice.customer.country) + "<br/>" unless @invoice.customer.country.blank? %></span>      
		    <br/>
	     <% end %>
	     </div>
	     <div id="preview_contact" class="yui-u">
		<% if !@invoice.contact.blank? %>
	   	    <b><%= _("Attention:") %></b><br/>
		    <span id="invoice_contact_first_name"><%= h(@invoice.contact.first_name) unless @invoice.contact.first_name.blank? %></span>	  
		    <span id="invoice_contact_last_name"><%= h(@invoice.contact.last_name) unless @invoice.contact.last_name.blank? %></span><br />
		<% end %>
	    </div>    
	</div>

    <br style="clear:both;"/>  

    <div id="invoice_ref_block">
      <table  style="width:100%">
        <tr>
          <td style="width:15%"><span class="row_label"><%= _("Invoice:") %></span></td>
          <td style="width:35%"><span id="invoice_unique"><%= h(@invoice.unique) %></span></td>
          <td><span class="row_label"><%= _("Reference No.:") %></span></td>
          <td><span><%= h(@invoice.reference)%></span></td>
        </tr>
        <tr>
          <td><span class="row_label"><%= _("Issue date:") %></span></td>
          <td><span id="invoice_date"><%= format_date(_("%B %d, %Y")) { @invoice.date } %></span></td>
          <td style="width:15%"><span class="row_label"><%= _("Due date:") %></span></td>
          <td style="width:35%"><span id="invoice_due_date"><%= format_date(_("%B %d, %Y")) { @invoice.due_date } %></span></td>
        </tr>
      </table>
    </div>
  <br/>

  <div id="preview_line_items_container" class="yui-g">
    <div id="preview_line_items" class="clearfix">
      <table id="preview_entity_list">
      <thead >
        <tr id="preview_line_items_heading">
        <th class="quantity" ><%= _("Quantity") %></th>
        <th class="description"><%= _("Description") %></th>
        <th class="price"><%= _("Price") %></th>
        <th class="litotal"><%= _("Total") %></th>
      </tr>
      </thead>
  
      <tbody>
      <% @invoice.line_items.each do |line_item| -%>
        <tr class="preview_child_item" >
          <td class="quantity"><div class="div_quantity"><%= format_amount(line_item.quantity) %></div></td>
          <td class="description"><div class="div_description"><%= h(line_item.description) %></div></td>
          <td class="price"><div class="div_price"><%= format_amount(line_item.price) %></div></td>
          <td class="litotal"><div class="div_litotal"><%= format_amount(line_item.subtotal) %></div></td>
        </tr>
      <% end %>		  	
      </tbody>
    </table>
    </div>
  </div>

  <br style="clear:both;"/>
  
  <div class="yui-g">
	
		<div id="preview_footer_summary" style="float: right">
		  <table>
		    <tr>
			  <td class="preview_footer_summary_label">
			    <span><%= _("Subtotal:") %></span>
			  </td>
			  <td class="preview_footer_summary_amount">
			    <span id="invoice_line_items_total"><%= format_amount(@invoice.line_items_total) %></span>
			  </td>
			</tr>
			<% discount_block = Proc.new do %>
				<%= discount_div(@invoice)%>
			<% end %>
			<% show_first_if(@invoice.created_by.profile.discount_before_tax, discount_block) do %>
				<% @invoice.taxes.each do |tax| %>

        <% next if (tax.amount == 0 and tax.name.blank?) or !tax.enabled? %>
				<tr id="<%= "invoice_#{tax.profile_key}" %>">
			  		<td class="preview_footer_summary_label">
			  			<span><%= tax.name %>:</span>
					</td>
					<td class="preview_footer_summary_amount">
						<span id="<%= "invoice_#{tax.profile_key}_amount" %>">
						  <%= format_amount(tax.amount) %>
						</span>
					</td>
				</tr> 
				<% end %>
			<% end %>
      <% if @invoice.paid != 0 %>
			<tr>
			  <td class="preview_footer_summary_label preview_footer_summary_total">
			    <span><strong><%= _("Total Due:") %></strong></span>
			  </td>
			  <td id="preview_footer_summary_total" class="preview_footer_summary_total">
			    <span id="invoice_total"><strong><%= format_amount(@invoice.total_amount) %></strong></span>
			  </td>
			</tr>
			<tr>
			  <td class="preview_footer_summary_label preview_footer_summary_total">
			    <span><strong><%= _("Less Payments:") %></strong></span>
			  </td>
			  <td id="preview_footer_paid" class="preview_footer_paid">
			    <span id="invoice_paid"><strong><%= format_amount(@invoice.paid) %></strong></span>
			  </td>
			</tr>
      <% end %>
			<tr id="preview_owing_row">
			  <td class="preview_footer_summary_label preview_footer_summary_total">
			    <span><strong><%= _("Amount Owing:") %></strong></span>
			  </td>
			  <td id="preview_footer_summary_total" class="preview_footer_summary_total">
			    <span id="invoice_total"><strong> <%= format_amount(@invoice.amount_owing) %>&nbsp;<span class="footer_caption"><%= invoice_currency(@invoice)%></span></strong></span>
			  </td>
			</tr>
		  </table>	
		</div>
	</div>
  <br style="clear:both;"/>

  <div class="yui-g">
      <% if !@invoice.description_clean.blank? %>
            <br/><br/>
            <b><%= _("Comment:") %></b><br/><br/>
              <%= @invoice.description_clean %>
            <br/>
      <% end %>
   </div>       
  
</div>
