<% content_for "stylesheets" do -%>
  <%= stylesheet_link_tag "/ext/resources/css/ext-all.css" %>
  
	<%= stylesheet_theme_controller %>
	<%= stylesheet_theme_controller_printable(print?) %>	
<% end -%>

<% content_for "javascripts" do -%>
  <%= javascript_include_tag "/ext/adapter/prototype/ext-prototype-adapter.js" %>
  <%= javascript_include_tag "/ext/ext-all.js" %>
  <%= javascript_include_tag "/ext/ext-fix.js" %>   
<% end -%>

		<% @content_for_main_top = capture do %>
		
		<% end %>

		<% @content_for_lnav = capture do %>
			<%= render :partial => "admin/menu" %>
		<%end%>

		<% @content_for_sidebar = capture do %>
		<% end %>
    
		<% @content_for_infobox = capture do %>
          <%= formatted_flash %>
		<% end %>    

		<% @content_for_main = capture do %>
                    <h1>Users by Language</h1>
                    <br/>
                    <p>Count of users for each language.</p>
                    <br/>
                    <%# RADAR fix this route link_to _('Save as CSV file'), admin_overview_users_by_language_path('users_by_language', :format => 'csv')  %>
                    <a href="/admin/overview/users_by_language?format=csv"><%=  _('Save as CSV file') %></a>
                    <br/>
                    <br/>
                    <table border="1" cellpadding="2" cellspacing="0">
                      <thead>
                        <tr>
                          <td><b>Language</b></td>
                          <td><b># Users</b></td>
                        </tr>
                      </thead>
                      <tbody>
                        <% AdminManager.users_by_language.each do |c| %>
                          <tr>
                            <td align="left">
                              <b><%= h c[0] %></b>
                            </td>
                            <td align="right">
                              <%= AdminManager.commify_result c[1] %>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
		<% end %>
		<%= render_inner_layout %>  
