<% content_for "stylesheets" do %>
	<%= stylesheet_link_tag "/yui/build/reset-fonts-grids/reset-fonts-grids.css" %>			  
	<%= default_theme_controller %>	
	<%= default_theme_controller("home") %>	
	<%= stylesheet_link_tag "/themes/static.css" %>	
<% end %>

<% content_for :header do %>	    	
	<%= render :partial => "home/header" %>
<% end %>   
	 

<% content_for :main do %>

<div id="content_container">
	 
     <!-- ROUNDED CORNERS - WITH INFOBOX -->
  	  <%= formatted_flash_always %>      	
      <div class="corner_large_tr" style="clear: both;">
          <div class="corner_large_tl">
            <div class="infobox">								
              <p>
              <%= _('Invite a Friend') %>						
              </p>								
            </div>
          
          </div>
      </div>							
      
      
      <!-- CONTENT SECTION -->
       
	<div class="content">
<br/>
<% form_for(:referral, :url => {:controller => :referral, :action => :create} ) do |f| %>	
	<%= render :partial => "form", :locals => {:f => f, :referral => @referral } %>
<% end %>
	</div>

      <!-- BOTTOM CORNERS -->
      <div class="corner_large_bl">
          <div class="corner_large_br"></div>
      </div>							
      <!-- END OF ROUNDED CORNERS -->
<% if ::AppConfig.contest.bybs %>
<br/><%= _("* See #{contest_rules_link}.") % {:contest_rules_link => "<a href='/contest/rules'>contest rules</a>"} %>
<% end %>

</div>	

<% end %>
