<% content_for "stylesheets" do -%>
	<%= default_theme_controller("home") %>
	<%= stylesheet_link_tag "/yui/build/reset-fonts-grids/reset-fonts-grids.css" %>			
<% end %>

<% content_for :header do %>	    	
	<%= render :partial => "home/header" %>
<% end %>

<% content_for("main")  do %>
<div class="yui-b">
  <div class="yui-gc"> 
      <div class="yui-u first">
        <div class="corner_large_tr">
  					<div class="corner_large_tl">
        			<%= formatted_flash_always %>     
  					</div>
        </div>						
        
        <div class="content">
        	<br/>
          
        <div>
          <p><%= _("You have been invited by %{name} to join Billing Boss.") % {:name => "<span id='invitor_name'>#{h invitor_name}</span>"} %></p>
          <p><%= _("You will be able to see the invoicing data of %{name}. To accept this invitation, you must %{login_link}.") % {:name => "<span id='invitor_name'>#{h invitor_name}</span>", :login_link => link_to(_("log in"), @signup_service_url, :id => 'inline-login-link')} %></p>
          <br/>
          <div id="invitation-button-container">
            <form>
            <%= submit_tag _("login"), :class => "go_button", :onclick => "document.location.href='#{@signup_service_url}';return false;", :id => 'large-login-button' %> 
            </form>
          </div>
        </div>
      		<%= _('Not an existing user?')%> <%= link_to _("Create a new account..."), signup_url(:service_url => current_action_service_url, :email => @invitation.recipient) %>
        </div>      
        <%= bottom_corners() %>
      </div>
      <div class="yui-u" >&nbsp;</div>
  </div>
</div>
<div class="yui-b"></div>
  
<% end %>
