<%= _("There are many different ways to ensure that you're among the first to know about new features, functionality and exciting promotions at Billing Boss.") %>
<br/><br/>
<ul class="bullet indented" style="line-height: 160%;">
	<li><%= _("Visit the %{blog_url} to catch up on all the latest or subscribe to the Blog RSS feed.") % {:blog_url => "<a href='http://blog.billingboss.com/'>Billing Boss Blog</a>"} %></li>
	<li>
		<%= _("Connect with Billing Boss on %{facebook_url} or %{linkedin_url}." % 
				{:facebook_url => "<a href='http://www.facebook.com/group.php?gid=15527663811'>Facebook</a>", 
	 				:linkedin_url => "<a href='http://www.linkedin.com/in/billingboss'>LinkedIn</a>"}) %>
	</li>
	<li><%= _("Follow us on %{friendfeed_url} or %{twitter_url}" % 
	{:friendfeed_url => "<a href='http://friendfeed.com/billingboss'>Friendfeed</a>",
		:twitter_url => "<a href='http://twitter.com/billingboss'>Twitter</a>"}) %> </li>
</ul>
<br/>
<%= _("We value your privacy. Your information and your customer information will not be shared or used by Sage.") %>
