	<% @content_for_lnav = capture do %>
		<%= link_to _('New contact'), new_customer_contact_path(:customer_id => @customer) %>
	<% end %>
    
	<% @content_for_sidebar = capture do %>
	<% end %>

	<% @content_for_main = capture do %>
		<div class="section_title"><%= _('Listing contacts') %></div>
		
		<table>
		  <tr>
		    <th><%= _('First name') %></th>
		    <th><%= _('Last name') %></th>
		    <th><%= _('Email') %></th>
		    <th><%= _('Customer') %></th>
		  </tr>
		
		<% for contact in @contacts %>
		  <tr>
		    <td><%=h contact.first_name %></td>
		    <td><%=h contact.last_name %></td>
		    <td><%=h contact.email %></td>
		    <td><%=h contact.customer_id %></td>
		    <td><%= link_to _('Show'), customer_contact_path(:customer_id => @customer, :id => contact) %></td>
		    <td><%= link_to _('Edit'), edit_customer_contact_path(:customer_id => @customer, :id => contact) %></td>
		    <td><%= link_to _('Delete'), customer_contact_path(:customer_id => @customer, :id => contact), :confirm => _('Are you sure?'), :method => :delete %></td>
		  </tr>
		<% end %>
		</table>
		
		<br />
	<% end %>
	<%= render_inner_layout %>
