<%= error_messages_for(:object_name => 'payment', :object => @payment_data) %>
<% @card, @billing_address = @payment_data %>
<% form_tag invoice_online_payments_path(:invoice_id => @key) do %>
  <!-- beanstream gateway -->
  <div class="gateway_form_section">
    <% fieldset_tag(_('Credit Card Information')) do %>
      <table>
        <%= form_row _('Credit Card Number'), text_field(:card, :number) %>
        <%= form_row _('Cardholder\'s First Name'), text_field(:card, :first_name) %>
        <%= form_row _('Cardholder\'s Last Name'), text_field(:card, :last_name) %>
        <%= form_row _('Expiration Date'), select(:card, :month, (1..12)) + select(:card, :year, (Time.now.year..(Time.now.year + 9))) %>
        <%= form_row _('3-digit CVV Number'), text_field(:card, :verification_value) %>
      </table>
    <% end %>
  </div>
  <div class="gateway_form_section">
    <% fieldset_tag('Billing Address') do %>
      <table>
        <%= form_row _('Full Name'), text_field(:billing_address, :name) %>
        <%= form_row _('Address line 1'), text_field(:billing_address, :address1) %>
        <%= form_row _('Address line 2'), text_field(:billing_address, :address2) %>
        <tr><th colspan="2"><%= _("(optional)") %></th></tr>
        <%= form_row _('City'), text_field(:billing_address, :city) %>
        <%= form_row _('Province'), select(:billing_address, :state, select_provinces) %>
        <%= form_row _('Postal Code'), text_field(:billing_address, :zip) %>
        <%= form_row _('Country'), 'Canada' %>
        <%= form_row _('Phone Number'), text_field(:billing_address, :phone) %>
        <%= form_row _('Email address'), text_field(:billing_address, :email) %>
      </table>
      <%= hidden_field_tag('billing_address[country]', 'CA') %>
    <% end %>
  </div>
  <br style="clear: both" />
  <%= submit_tag(_('Pay Now')) %>
<% end %>
