<h1>Editing subscription</h1>

<%= error_messages_for :spsubscription %>

<% form_for(@spsubscription, :url => service_provider_spaccount_spsubscription_path(@spaccount, @spsubscription)) do |f| %>

  <p>
    <b>Service Code</b><br />
    <%= f.text_field :service_code %>
  </p>

  <p>
    <b>Qty</b><br />
    <%= f.text_field :qty %>
  </p>

  <p>
    <b>Status</b><br />
    <%= f.text_field :status %>
  </p>

  <p>
    <b>Comment</b><br />
    <%= f.text_field :comment %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', service_provider_spaccount_spsubscription_path(@spaccount, @spsubscription) %> |
<%= link_to 'Back', service_provider_spaccount_spsubscriptions_path(@spaccount) %>

