          <span><%= _('Your feedback has been accepted. Thank you.') %></span>
          <br/>
           <div id="feedback_description">         
          <h1><%= _('About Billing Boss') %></h1>
          

          	      
          <span><%= _('Billing Boss is a product of Sage, a leading supplier of business management software and services to 5.5 million customers worldwide. From small start-ups to larger organizations, we make it easier for companies to manage their business processes. Billing Boss was developed by a small dynamic, sugar and coffee driven team within Sage. We love the internet and believe that the internet can help small business grow and succeed.') %>						
          </span>

          <h1><%= _('About Sage') %></h1>	
          
          
          <span>
            <%= _('Sage is the North American business of UK-based The Sage Group plc. Sage supports the needs, dreams, and challenges of small and midsized businesses (SMB) by offering leading business management products and services. More than 2.8 million North American small and midsized businesses currently rely on Sage applications.') %>
            <br/><br/>
            <%= _('For more than 30 years, Sage has delivered easy-to-use, scalable, and customizable software for accounting, customer relationship management, human resources, merchant services, time tracking, and the specialized needs of the construction, distribution, healthcare, manufacturing, nonprofit, and real estate industries.') %>

          </span>
          </div>          
