<%#
# template for invoice printing
%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<!-- Use IE7 mode -->
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

   <%= stylesheet_global %>
  <%= stylesheet_theme %>
  <%= (stylesheet_ie6).untaint %>

	<%= stylesheet_link_tag "/yui/build/reset-fonts-grids/reset-fonts-grids", :media => 'screen, print' %>
	<%= yield :stylesheets %>

</head>
<body>
<%= yield :layout %>
</body>
</html>
