<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<!-- Use IE7 mode -->
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%=h page_title %></title>
  <%= stylesheet_global %>
  <%= stylesheet_theme %>
  <%= (stylesheet_ie6).untaint %>
 

	<%= stylesheet_link_tag "/yui/build/reset-fonts-grids/reset-fonts-grids", :media => 'screen, print' %>
        <%= stylesheet_link_tag "/stylesheets/new_grid" %>
        <%= stylesheet_link_tag "/stylesheets/dialog_box" %>
	<!-- load any template-specific stylesheets (use by including a content_for block in template) -->	
	<%= yield :stylesheets %>
        
        


        
  
  <% if !print? %>
	<%= javascript_include_tag 'prototype' %>
	<%= javascript_include_tag 'effects' %>
        <%#= javascript_include_tag 'dragdrop' %>
        <%= javascript_include_tag 'mf_lightbox' if params[:action] == "show" %>

  <% end %>
	
       
  <%= calendar_date_select_includes %>
  
	<!-- load any template-specific javascripts (use by including a content_for block in template) -->
</head>

<body>
	<%= locale_comment %>
  <!-- IE6 minimum width hack, opening -->
  <div id="MinWidthContainer"><div id="PageContainer"><div id="PageContentContainer">
  
  <div id="doc3" class="yui-t2">		
	  <div id="hd">
		 	<%= if !@skip_header then render(:partial => "layouts/main_header" ) end  %>
 		</div>			
    <div>
      <ul id="sub_nav_off">
        <li>&nbsp;</li>
      </ul>
    </div>
		<div id="bd">
			<%= yield :layout %>
	  </div><!-- /bd -->
    <div id="ft">   
		  <%= if !@skip_footer then render(:partial => "layouts/main_footer") end %>
    </div>
  </div><!-- /maindiv -->
	
  <!-- IE6 minimum width hack, closing -->
  </div></div></div>
<%= render :partial => "/layouts/google" %>
<%= yield :bottom_of_body %>
</body>
<!-- multiple select widget -->

<% if !print? %>
	<%= javascript_include_tag 'application' %>	
	<%= javascript_include_tag 'control_select_multiple' %>
<% end %>

<% if RAILS_ENV == 'test' -%>
  <!-- conditionally include increment_ajax_counter for testing -->
  <%= javascript_include_tag('increment_ajax_counter') %>
<% end -%>

<%= yield :javascripts %>

<%= yield :bottom_javascripts %>
</html>
